@model MediX.Models.Staff

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container"><div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">@Html.DisplayFor(model => model.FullName)</h2>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email):</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.PhoneNumber):</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.PhoneNumber)</dd>

                        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Address):</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>

                        <dt class="col-sm-4">Medical Center:</dt>
                        <dd class="col-sm-8">
                            @Html.ActionLink(Model.MedicalCenter.Name, "Details", "MedicalCenters", new { id = Model.MedicalCenter.Id }, null)
                        </dd>
                    </dl>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary align-self-right" })
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
    </div>
</div>