@model MediX.Models.Booking

@{
    ViewBag.Title = "Complete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h2 class="text-center mt-4">Complete Booking</h2>

    <div class="card mt-4">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    Date and Time:
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.DateTime)
                </dd>

                <dt class="col-sm-3">
                    Notes:
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Notes)
                </dd>

                <dt class="col-sm-3">
                    Status:
                </dt>

                <dd class="col-sm-9">
                    @if (Model.IsCompleted)
                    {
                        <span class="text-success font-weight-bold">Completed</span>
                    }
                    else
                    {
                        <span class="text-warning font-weight-bold">Pending</span>
                    }
                </dd>

                <dt class="col-sm-3">
                    Patient:
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Patient.FullName)
                </dd>

                <dt class="col-sm-3">
                Staff:
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Staff.FullName)
                </dd>

                <dt class="col-sm-3">
                    Medical Center:
                </dt>

                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.MedicalCenter.Name)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="text-center">
                    <a href="@Url.Action("Index")" class="btn btn-secondary ml-2">Back to List</a>
                    <input type="submit" value="Complete" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>
