@model MediX.Models.Booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <dl class="row">
                @if (!User.IsInRole("Standard"))
                {
                    <dt class="col-sm-3">Patient:</dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Patient.FullName)
                    </dd>
                }
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DateTime):</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DateTime)</dd>

                <dt class="col-sm-3">
                    Status:
                </dt>
                <dd class="col-sm-9">
                    @if (Model.IsCompleted)
                    {
                        <span style="color: green; font-weight: bold">Completed</span>
                    }
                    else
                    {
                        <span style="color: darkorange; font-weight: bold">Pending</span>
                    }
                </dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Notes):</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Notes)</dd>

                <dt class="col-sm-3">Booked by:</dt>
                <dd class="col-sm-9">
                    @if (!User.IsInRole("Standard"))
                    {
                        @Html.ActionLink(Model.Staff.FullName, "Details", "Staffs", new { id = Model.Staff.Id }, new { @class = "btn-link" })
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.Staff.FullName)
                    }
                </dd>

                <dt class="col-sm-3">Location:</dt>
                <dd class="col-sm-9">
                    @Html.ActionLink(Model.MedicalCenter.Name, "Details", "MedicalCenters", new { id = Model.MedicalCenter.Id }, new { @class = "btn-link" })
                </dd>

                <dt class="col-sm-3">Address:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.MedicalCenter.Address)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DateCreated):</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DateCreated)</dd>
            </dl>

            <div class="text-center">
                <a href="javascript:history.back()" class="btn btn-secondary">Back</a>
                @if (User.IsInRole("MedicalStaff") | User.IsInRole("FacilityManager") | User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                }

                @if (Model.IsCompleted && Model.Ratings.Count == 0)
                {
                    @Html.ActionLink("Review", "Create", "Ratings", new { bookingId = Model.Id }, new { @class = "btn btn-success" })
                }

                @if (User.IsInRole("MedicalStaff") | User.IsInRole("FacilityManager") | User.IsInRole("Administrator"))
                {
                    if (!Model.IsCompleted)
                    {
                        @Html.ActionLink("Complete", "Complete", new { id = Model.Id }, new { @class = "btn btn-success" })
                    }
                }
            </div>
        </div>
    </div>  
</div>
