@model MediX.Models.Booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h2 class="card-title">Booking Details</h2>
            <hr />

            <dl class="row">
                @if (!User.IsInRole("Standard"))
                {
                    <dt class="col-sm-3">Patient:</dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Patient.FullName)
                    </dd>
                }
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DateTime):</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DateTime)</dd>

                <dt class="col-sm-3">Status:</dt>
                <dd class="col-sm-9">
                    @if (Model.IsCompleted)
                    {
                        <span style="color: green; font-weight: bold">Completed</span>
                    }
                    else
                    {
                        <span style="color: darkorange; font-weight: bold">Pending</span>
                    }
                </dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Notes):</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Notes)</dd>

                <dt class="col-sm-3">Booked by:</dt>
                <dd class="col-sm-9">
                    @if (!User.IsInRole("Standard"))
                    {
                        @Html.ActionLink(Model.BookerStaff.FullName, "Details", "Staffs", new { id = Model.BookerStaff.Id }, new { @class = "btn-link" })
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.BookerStaff.FullName)
                    }
                </dd>

                <dt class="col-sm-3">Location:</dt>
                <dd class="col-sm-9">
                    @Html.ActionLink(Model.XRayRoom.MedicalCenter.Name, "Details", "MedicalCenters", new { id = Model.XRayRoom.MedicalCenter.Id }, new { @class = "btn-link" }) @Html.DisplayFor(model => model.XRayRoom.RoomNumber)
                </dd>

                <dt class="col-sm-3">Address:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.XRayRoom.MedicalCenter.Address)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DateCreated):</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.DateCreated)</dd>
            </dl>

            <div class="mt-3">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
    <div class="mt-3">
        <a href="javascript:history.back()" class="btn btn-outline-secondary">Back</a>
    </div>
</div>
