@model IEnumerable<MediX.Models.Booking>

@{
    ViewBag.Title = "Bookings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-6">
        <h2 class="d-inline">Bookings</h2>
    </div>
    <div class="col-md-6 d-flex flex-column align-items-end mb-md-3">
        @if (User.IsInRole("MedicalStaff") | User.IsInRole("FacilityManager") | User.IsInRole("Administrator"))
        {
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success " })
        }
    </div>
</div>
@*<div id="calendar"></div>
    <div style="display: none">*@
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            @if (!User.IsInRole("Standard"))
            {
                <th>
                    Patient Name
                </th>
            }
            <th>
                Medical Center
            </th>
            <th>
                Booked by
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @{
            var index = 0;
        }
        @foreach (var item in Model)
        {
            index++;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => index)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                @if (!User.IsInRole("Standard"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Patient.FirstName) @Html.DisplayFor(modelItem => item.Patient.LastName)
                    </td>
                }
                <td>
                    @Html.ActionLink(item.XRayRoom.MedicalCenter.Name, "Details", "MedicalCenters", new { id = item.XRayRoom.MedicalCenter.Id }, null)
                </td>
                <td>
                    @{
                        var staffFullName = item.Staff.FirstName + " " + item.Staff.LastName;
                    }
                    @if (!User.IsInRole("Standard"))
                    {
                        @Html.ActionLink(staffFullName, "Details", "Staffs", new { id = item.Staff.Id }, null)
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => staffFullName)
                    }
                </td>
                <td>
                    @if (User.IsInRole("MedicalStaff") | User.IsInRole("FacilityManager") | User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info", style = "color: white;" })
                    @if (User.IsInRole("MedicalStaff") | User.IsInRole("FacilityManager") | User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    }
                </td>
            </tr>


        }
    </tbody>
</table>

@*</div>*@


@section Scripts {
    @Scripts.Render("~/bundles/fullcalendar")
    @Scripts.Render("~/bundles/datatable")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}