@model MediX.Models.MedicalCenterViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @Html.DisplayFor(model => model.MedicalCenter.Name)
</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MedicalCenter.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalCenter.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AverageRating)
        </dt>

        <dd>
            @if (Model.AverageRating != -1)
            {
                @Html.DisplayFor(model => model.AverageRating)
            }
            else
            {
                <span>-</span>
            }
            (@Html.DisplayFor(model => model.RatingsCount))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedicalCenter.OpenTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedicalCenter.OpenTime) - @Html.DisplayFor(model => model.MedicalCenter.CloseTime)
        </dd>

        <dd>
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("MedicalStaff") | User.IsInRole("FacilityManager") | User.IsInRole("Administrator"))
    { 
        @Html.ActionLink("Edit", "Edit", new { id = Model.MedicalCenter.Id }, new { @class = "btn btn-primary" })
    }
    <a class="btn btn-outline-secondary" href="javascript:history.back()">Back</a>
</p>
