@model IEnumerable<MediX.Models.MedicalCenter>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-6">
        <h2 class="d-inline">Medical Centers</h2>
    </div>
    <div class="col-md-6 d-flex flex-column align-items-end mb-md-3">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success " })
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OpenTime)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @{
            var index = 0;
        }
        @foreach (var item in Model)
        {
            index++;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => index)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OpenTime) - @Html.DisplayFor(modelItem => item.CloseTime)
                </td>
                <td>
                    @if (User.IsInRole("FacilityManager") | User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info", style = "color: white;" })
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}
