@model IEnumerable<MediX.Models.MedicalCenterViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.1/css/buttons.dataTables.min.css">

<div class="row mb-md-3">
    <div class="col-md-6">
        <h2 class="d-inline">Medical Centers</h2>
    </div>
    <div class="col-md-6 d-flex flex-column align-items-end">
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success " })
    </div>
</div>

<div id='map' style="height: 300px;"></div>

<div id="exportButtons"></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicalCenter.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalCenter.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AverageRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalCenter.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalCenter.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalCenter.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicalCenter.OpenTime)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="coordinates">
                <td class="id">
                    @Html.DisplayFor(modelItem => item.MedicalCenter.Id)
                </td>
                <td class="name">
                    @Html.DisplayFor(modelItem => item.MedicalCenter.Name)
                </td>
                <td class="rating">
                    @if (item.AverageRating != -1)
                    {
                        @Html.DisplayFor(modelItem => item.AverageRating)
                    }
                    else
                    {
                        <span>-</span>
                    }
                    (@Html.DisplayFor(modelItem => item.RatingsCount))
                </td>
                <td class="address">
                    @Html.DisplayFor(modelItem => item.MedicalCenter.Address)
                </td>
                <td class="longitude">
                    @Html.DisplayFor(modelItem => item.MedicalCenter.Longitude)
                </td>
                <td class="latitude">
                    @Html.DisplayFor(modelItem => item.MedicalCenter.Latitude)
                </td>
                <td class="openTime">
                    @Html.DisplayFor(modelItem => item.MedicalCenter.OpenTime) - @Html.DisplayFor(modelItem => item.MedicalCenter.CloseTime)
                </td>
                <td>
                    @if (User.IsInRole("FacilityManager") | User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.MedicalCenter.Id }, new { @class = "btn btn-primary" })
                        @Html.ActionLink("Chart", "BookingsChart", new { id = item.MedicalCenter.Id }, new { @class = "btn btn-secondary" })
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.MedicalCenter.Id }, new { @class = "btn btn-info", style = "color: white;" })
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Delete", "Delete", new { id = item.MedicalCenter.Id }, new { @class = "btn btn-danger" })
                    }
                </td>
            </tr>
        }
    </tbody>

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/mapbox")
    @Scripts.Render("~/bundles/datatable")
    <script src="//cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('.table').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'pdf', 'csv', 'excel', 'copy'
                ]
            });

            table.buttons().container().appendTo($('#exportButtons'));
        });
    </script>
}
