@model MediX.Models.Patient

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            Name
        </dd>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dd>
            @Html.DisplayNameFor(model => model.Email)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dd>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dd>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dd>
            @Html.DisplayNameFor(model => model.Address)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
