@model IEnumerable<MediX.Models.Patient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />

<div class="row mb-md-3">
    <div class="col-md-6">
        <h2 class="d-inline">Patients</h2>
    </div>
    <div class="col-md-6 d-flex flex-column align-items-end">
        @if (User.IsInRole("Administrator"))
        {
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success " })
        }
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bookings)
            </th>
            <th></th>
        </tr>
    </thead>


    <tbody>
        @{
            var index = 0;
        }
        @foreach (var item in Model)
        {
            index++;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => index)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @{
                        var today = DateTime.Today;
                        var age = today.Year - item.DateOfBirth.Year;

                        var yearText = age == 1 ? "year" : "years";
                    }
                    @Html.DisplayFor(modelItem => item.DateOfBirth) (@Html.DisplayFor(modelItem => age) @Html.DisplayFor(modelItem => yearText))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Bookings", "Index", "Bookings", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info", style = "color: white;" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>

        }
    </tbody>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/datatable")
    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>
}